<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.js/vue.js"></script>
</head>
<body>
    <div id="app-2">
        <span v-bind:title='message'>
            鼠标停几秒钟查看动态绑定的提示信息！
        </span>
        <h3 v-if='seen'>现在你看到我了</h3>
        <ul v-for='todo in todos'>
            <li>{{todo.text}}</li>
        </ul>
        <p>
            {{message2}}
        </p>
        <button v-on:click='reverseMessage'>逆转消息</button>
        <p>
            {{message3}}
        </p>
        <input v-model='message3'>
    </div>
</body>
    <script>
        let time = new Date().toLocaleString();
        let app2 = new Vue({
            el:'#app-2',
            data:{
                message:`页面加载于${time}`,
                message2:'hello Vue!',
                message3:'hello',
                seen:false,
                todos:[
                    {text:'学习'},
                    {text:'使我'},
                    {text:'快乐'}
                ]
            },
            methods:{
                reverseMessage:function(){
                    this.message2 = this.message2.split('').reverse().join('');
                }
            }
        })
    
    </script>
</html>